a {
  text-decoration: underline;
}

.heading {
  font-family: Lato, sans-serif;
}

.home-2 {
  display: inline;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 40px;
  font-weight: 300;
}

.link {
  border-bottom: 4px solid #50e3c2;
  box-shadow: inset 0 -20px 0 0 rgba(80, 227, 194, .3);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  text-decoration: none;
}

.link:hover {
  color: #333;
}

.link.hp-link {
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.link.hp-link:hover {
  box-shadow: inset 0 -24px 0 0 rgba(80, 227, 194, .3);
}

.homepage {
  padding-top: 10%;
  padding-right: 30px;
  padding-left: 30px;
}

.body {
  -webkit-transition: background-color 658ms ease, -webkit-transform 400ms ease;
  transition: background-color 658ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, background-color 658ms ease;
  transition: transform 400ms ease, background-color 658ms ease, -webkit-transform 400ms ease;
}