a {
  color: #5364FF;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #2C41FF;
  box-shadow: inset 0 -15px 0 0 rgba(83, 100, 255, .3);
}

p {
  font-family: poppins, sans-serif;
  color: #616161;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

.lighten {
  color: #868686 !important;
}

.sub {
  color: #CACACA;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left:15px;
  margin-bottom:5rem;
}

.headline {
  font-family: poppins, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem;
  color: #333333;
  margin-bottom: 10rem;
  padding: 0 15px;
}

.headline-art {
   font-size: 8rem;
}

.title {
  color: #333333;
  font-family: poppins, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height:140%;
  margin-bottom: 3rem;
}

.project {
  margin-bottom: 10rem;
  border: 1px solid rgba(226, 226, 226, .5);
  padding: 4rem 2rem;
  margin: 15px;
  -webkit-box-shadow: 0px 10px 20px 10px rgba(192,192,192,0.2);
  -moz-box-shadow: 0px 10px 20px 10px rgba(192,192,192,0.2);
  box-shadow: 0px 10px 20px 10px rgba(192,192,192,0.2);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.project:hover {
  -webkit-box-shadow: 0px 20px 40px 19px rgba(192,192,192,0.6);
  -moz-box-shadow: 0px 20px 40px 19px rgba(192,192,192,0.6);
  box-shadow: 0px 20px 40px 19px rgba(192,192,192,0.6);
}

.project:hover .title {
  color: #2C41FF;
}

.projecttext {
  margin-bottom: 2rem;
}

.footer-email{
  display: inline;
  font-family: poppins, sans-serif;
  color: #535353;
  font-size: 2.25rem;
  line-height: 3.25rem;
  font-weight: 300;
}


.homepage_img {
  width: 100%;
}

.dot {
  color: #5364FF;
}

.link {
  color: #929292;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

a.link:hover {
  box-shadow: inset 0 -24px 0 0 rgba(83, 100, 255, .3);
}


.readmore {
  font-size: 2rem;
}

a:hover .readmore {
  box-shadow: inset 0 -24px 0 0 rgba(83, 100, 255, .3);
  color: #2C41FF;
}

.section {
  margin-bottom: 10rem;
}

.footer-about {
  font-size: 1.6rem;
  color: #868686;
  line-height: 2rem;
  margin-top: 3.5rem;
}

.love {
  -webkit-animation: love 1.414s infinite ease-in-out;
  animation: love 1.414s infinite ease-in-out;
  height: 11.312px;
  width: 16px;
}

.copyright {
  font-size: 1.6rem;
  color: #CACACA;
}

.homepage {
  padding-top: 15%;
}

.notdesign-box {
  overflow: hidden;
}

.notdesign {
  width: 110%;
  margin-top: 40px;
}

footer {
  padding: 5rem 0;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .headline {
    font-size: 6rem;
    line-height: 10rem;
    margin-bottom: 16rem;
  }

  .headline-art {
    font-size: 12rem;
  }

  .readmore {
    font-size: 2.5rem;
  }

  .project {
    margin-bottom: 10rem;
  }

  .notdesign {
    width: calc(70% - 160px);
    margin-left: 0;
  }
}