a {
  color: #535353;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #078a5c;
}

p {
  font-family: myriad-pro, sans-serif;
  color: #535353;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
}

.sub {
  color: #CACACA;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left:15px;
  margin-bottom:5rem;
}

.headline {
  font-family: myriad-pro, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height:5.4rem;
  color: #535353;
  margin-bottom: 10rem;
  padding: 0 15px;
}

.title {
  color: #535353;
  font-family: myriad-pro, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.projecttext {
  margin-bottom: 2rem;
}

.description {
  display: inline;
  font-family: myriad-pro, sans-serif;
  color: #535353;
  font-size: 2.25rem;
  line-height: 3.25rem;
  font-weight: 300;
}


.homepage_img {
  width: 100%;
}

.special {
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

.link {
  color: #23AA7B;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

a.link:hover {
  box-shadow: inset 0 -24px 0 0 rgba(80, 227, 194, .3);
}


.readmore {
  font-size: 2rem;
}

a:hover .readmore {
  box-shadow: inset 0 -24px 0 0 rgba(80, 227, 194, .3);
}

.project {
  margin-bottom: 10rem;
}

.section {
  margin-bottom: 10rem;
}

.footerlink {
  margin:0 5%;
}

.homepage {
  padding-top: 15%;
}

.notdesign {
  width: 110%;
  margin-top: 40px;
}

footer {
  padding: 5rem 0;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .headline {
    font-size: 6rem;
    line-height: 8rem;
    margin-bottom: 16rem;
  }

  .readmore {
    font-size: 2.5rem;
  }

  .project {
    margin-bottom: 20rem;
  }

  .notdesign {
    width: calc(70% - 160px);
    margin-left: 0;
  }
}




